@model dotNET_2019.Models.Livro

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do Livro</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            <img src="~/@Model.Foto" alt="Imagem @Model.Titulo" />
        </dd>
    </dl>
</div>
<dd>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LivAutor)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor.Nome)
                </td>
            </tr>
        }
    </tbody>
</table>
</dd>

<div>
    <a asp-action="Edit" asp-route-id="@Model.LivroID">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
