@model IEnumerable<dotNET_2019.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            @Html.DisplayNameFor(model => model.Titulo):&nbsp;<input type="text" name="filtroPesquisa" value="@ViewBag.filtroPesquisa" />
            <input type="submit" value="Pesquisar" class="btn btn-default" /> |
            <a asp-action="Index">Limpar</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-ordenacao="@ViewBag.TituloSortParam">@Html.DisplayNameFor(model => model.Titulo)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LivroID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LivroID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LivroID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
