@model IEnumerable<dotNET_2019.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastro de Livros</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Novo</a>
</p>

<form asp-action="Index" method="post">
    <div class="form-actions no-color">
        <p>
            @Html.DisplayNameFor(model => model.Titulo):&nbsp;<input type="text" name="filtroPesquisa" value="@ViewBag.filtroPesquisa" />
            &nbsp;|&nbsp;
            Quantidade:&nbsp;<input type="text" name="filtroQuantidadeMin" 
                value="@ViewBag.filtroQuantidadeMin" />&nbsp;até&nbsp;<input type="text" name="filtroQuantidadeMax" 
                value="@ViewBag.filtroQuantidadeMax" />

            <input type="submit" value="Pesquisar" class="btn btn-primary" />
            <a class="btn btn-danger" asp-action="Index">Limpar</a>
        </p>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-ordenacao="@ViewBag.TituloSortParam">@Html.DisplayNameFor(model => model.Titulo)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LivroID">
                    <i class="far fa-edit" title="Editar"></i></a>
                <a asp-action="Details" asp-route-id="@item.LivroID">
                    <i class="fas fa-eye" title="Detalhes"></i></a>
                <a asp-action="Delete" asp-route-id="@item.LivroID">
                    <i class="fas fa-trash" title="Excluir"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
